body {
    font-family: Arial, sans-serif;
    background: #f2f7ff;
    padding: 40px;
}

.container {
    max-width: 450px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    width: 85%;
    padding: 8px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
	color: #333;
}

#op_choice {
	width: 82.3%;
	padding: 8px;
	font-size:15px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
	color: #333;
}

#result {
	width: 79.3%; !important
    padding: 8px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
	color: #333;
}

#calc {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: #FF0000;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
	margin-bottom:10px;
	color: #333;
}

#calc:hover {
    background: #8B0000;
	color: white;
}
